<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <p class="lead">On July 23, 2014, the Baton Rouge Metro Council considered an item on its agenda called <a href="/fairness-ordinance.pdf" title="Baton Rouge Fairness Ordinance (PDF)">&ldquo;The Fairness Ordinance&rdquo;</a>.</p>
    <p class="lead">This ordinance would specifically enumerate protected classes&mdash;including those protected at the federal and state level&mdash;but, with one important distinction: it included definitions for <em>sexual orientation, gender identity and gender expression</em>.</p>
    <div class="intro">
      <p>For nearly <em>four hours</em>, the Metro Council entertained public comment from people both for and against the ordinance.</p>
      <p>As I sat in the Council Chambers for the duration, listening to the passionate debate, it struck me how negative, vitriolic and plainly offensive some of the opposition comments were.</p>
      <p>I believe Baton Rouge is filled with reasonable people&mdash;many of whom are of devout faith&mdash;that would be as horrified as I was at the hatred that was on display.</p>
      <p>I knew that if I made it easy for my fellow citizens to read what was being said on their behalf by their religious leaders and breathren, they would be left as aghast as I had been.</p>
      <div class="action">
        <p>This is my attempt. <strong>Below you will find their <em>exact words</em></strong>&mdash;professionally transcribed from the <a href="http://batonrougela.swagit.com/play/07232014-770/#18">video available on the Metro Council website</a>.</p>
        <p>Please, <strong>share this with your friends and family</strong>. And, if you agree&mdash;if you want the discrimination to stop&mdash;please <a href="https://brgov.com/dept/council/">email your councilmember</a> and tell them to <strong>vote yes for fairness</strong>.</p>
      </div>
      <div class="me">
        <div class="me-img">
          <%= image_tag 'logan.png', width: 150, height: 150, alt: 'Logan Leger', class: 'img-rounded img-responsive', data: { at2x: asset_path(:images, 'logan@2x.png') } %>
        </div>
        <div class="me-text">
          <p>My name is <strong>Logan Leger</strong> and I believe in this city.</p>
          <p>I also believe in fairness.</p>
          <p>You can contact me on <a href="http://twitter.com/lleger" title="@lleger: Logan Leger on twitter"><i class="fa fa-twitter"></i> twitter</a> or by <a href="mailto:logan+fairnessbr@loganleger.com" title="Email Logan Leger"><i class="fa fa-envelope"></i> email</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<% data.transcript.speakers.each_with_index do |speaker, speaker_index| %>
<div class="row transcript" id="<%= speaker_id(speaker_index) %>">
  <div class="col-md-offset-1 col-md-3 speaker">
    <%= speaker.name %> <%= link_to '#', "##{speaker_id(speaker_index)}", title: "Permalink to #{speaker.name}" %>
  </div>
  <div class="col-md-7 text">
    <% speaker.comment.each_with_index do |comment, comment_index| %>
    <div class="text-paragraph" id="<%= comment_id(speaker_index, comment_index) %>">
      <% content_tag :p do %>
        <%= comment %> <%= link_to '#', "##{comment_id(speaker_index, comment_index)}", title: "Permalink to #{speaker.name}, paragraph #{comment_index+1}" %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<% end %>
